<footer>
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-collapse collapse" id="footer-body">
                <ul class="nav navbar-nav">
                    <li><a href="#">Browse Our Library</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Our Partners</a></li>
                    <li><a href="#">User Review</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
          	<div class="navbar-header">
                                <button type="button" class="navbar-toggle btn btn-primary btn-lg" data-toggle="collapse" data-target="#footer-body">
<i class="fa fa-square-o" style="width: 18px; height: 18px;"></i>
                </button>
<button id="prev" class="btn btn-primary btn-lg" style="display: inline-block;"><i class="fa fa-caret-left"></i> Previous</button>
<button id="next" class="btn btn-primary btn-lg" style="display: inline-block;">Next <i class="fa fa-caret-right"></i></button>


            </div>

        </div>
    </div>
</footer>