   <div class="libcontainer">

      <!-- start form -->
      <div id="questions">
        <h1>Please fill out the following!</h1>
        <hr>
        <form name="form" role="form">
          <div class="form-group first current">
            <label for="person" class="tlt">Boy's Name</label>
            <input name="formfield" id="person" class="form-control person" type="text" placeholder="Enter a boy's name ..">
          </div>
          <div class="form-group">
            <label for="adjective" class="tlt">Adjective</label>
            <input name="formfield2" id="adjective" class="form-control adjective" type="text" placeholder="Enter an adjective ..">
          </div>
          <div class="form-group">
            <label for="noun" class="tlt">Plural noun</label>
            <input name="formfield3" id="noun" class="form-control noun" type="text" placeholder="Enter a plural noun ..">
          </div>
          <div class="form-group">
            <label for="insect" class="tlt">An insect, plural</label>
            <input name="formfield4" id="insect" class="form-control insect" type="text" placeholder="Enter an insect, plural ..">
          </div>
          <div class="form-group">
            <label for="noun2" class="tlt">Plural noun</label>
            <input name="formfield5" id="noun2" class="form-control plural-noun" type="text" placeholder="Enter a plural noun ..">
          </div>
          <div class="form-group last">
            <label for="verb" class="tlt">A verb ending in "s"</label>
            <input name="formfield6" id="verb" class="form-control verb" type="text" placeholder="Enter a verb ending in "s" ..">
          </div>
          <div>
          </div>
        </form>
        <button id="btn-click" type="submit" class="btn btn-primary btn-lg">Generate!</button>
        <hr>
      </div>
      <!-- end form -->

      <!-- start story -->
      <div id="story">
        <h1>Mad with the Libs</h1>
        <hr>
        <h3>I'm in love with <span class="person"></span>. He's so <span class="adjective"></span>! He has big flat <span class="noun"></span>, and when our <span class="insect"></span> meet, I get <span class="noun2"></span> in my stomach. I've fallen for him like a ton of <span class="verb"></span>, and he shuffles for me, too. But I think he's got another girlfriend. What should I do?</h3>
        <div>
          <button type="submit" class="btn btn-primary btn-lg" id="play-btn">Play Again?</button>
        </div>
      </div>      
      <!-- end story -->
